.articles {
  .article {
    position: relative;
    margin-top: 100px;
    animation: show 0.5s ease-in-out;
    &:first-child {
      margin-top: 0;
    }
    .img {
      position: relative;
      width: 100%;
      height: 500px;
      margin-bottom: 30px;
      background: #777;
      @include laptop {height: 425px;}
      @include tablet {height: 495px;}
      @include mobile {height: 295px;}
    }
    .info {
      @include clearfix();
      position: relative;
      .date, .comments, .likes {
        width: fit-content;
      } 
      .date {
        position: relative;
        float: left;
        padding: 8px 15px;
        color: #fff;
        background: $blocks_color;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        box-sizing: border-box;
        font-family: "Montserrat Bold";
        margin-right: 14px;
      }
      .comments, .likes {
        @include clearfix();
        position: relative;
        float: left;
        margin-right: 14px;
        .icon {
          position: relative;
          float: left;
          width: 16px;
          height: 14px;
          background-size: contain;
          margin: 8px 8px 8px 0;
        }
        .nums {
          position: relative;
          float: left;
          color: $font_color;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 14px;
          font-family: "Montserrat Bold";
          margin: 8px 0;
        }
      }
      .comments { .icon { background: url('../../img/comm.png') no-repeat center; } }
      .likes { 
        .icon { 
          background: url('../../img/like.png') no-repeat center;
          opacity: 0.8;
          &:hover {
            cursor: pointer;
            opacity: 1;
          } 
        } 
      }
    }
    .tags-list {
      position: relative;
      @include clearfix();
      margin-top: 20px;
      .tag {
        float: left;
        position: relative;
        font-size: 12px;
        font-family: "Montserrat Bold";
        line-height: 12px;
        padding: 11px 22px;
        color: $font_color;
        background: #e5e5e5;
        text-transform: uppercase;
        margin: 0 5px 5px 0;
        text-align: center;
        width: fit-content;
      }
    }
    h4 {
      position: relative;
      color: $font_color;
      font-size: 18px;
      line-height: 18px;
      font-family: "Montserrat Bold";
      margin: 22px 0;
      text-transform: uppercase;
    }
    p {
      position: relative;
      line-height: 30px;
      margin: 0 0 30px;
    }
    a {
      position: relative;
      color: $font_color;
      font-size: 14px;
      font-family: "Montserrat Bold";
      text-transform: uppercase;
      &:hover {
        text-shadow: 0 0 2px $font_color;
      }
    }
  }
  .load {
    @include button();
    margin-top: 25px;
    animation: show 0.5s ease-in-out;
  }


  .block {
    margin-bottom: 50px;
  }
  form {
    position: relative;
    input[type="search"] {
      position: relative;
      color: $font_color;
      height: 40px;
      line-height: 40px;
      font-family: "Montserrat Bold";
      text-indent: 2em;
      width: 100%;
      font-size: 12px;
      border: none;
      background: #ececec;
    }
    .search-icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
      height: 14px;
      background: url('../../img/si.png') no-repeat center;
      margin: 13px;
    }
  }
  .posts {
    position: relative;
    h4 {
      position: relative;
      font-size: 14px;
      font-family: "Montserrat Bold";
      color: $font_color;
      text-transform: uppercase;
      margin: 0 0 30px;
    }
    .cats {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0 0 30px;
      @include clearfix();
      li {
        position: relative;
        float: left;
        border-bottom: 2px solid #e6e6e6;
        width: 33.33%;
        text-align: center;
        color: $font_color;
        font-family: 'Montserrat Bold';
        font-size: 12px;
        line-height: 12px;
        padding-bottom: 20px;
        text-transform: uppercase;
        cursor: pointer;

        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
      }
      .active {
        border-bottom: 2px solid $blocks_color;
      }
    }
    .mini-post {
      position: relative;
      @include clearfix();
      margin-bottom: 10px;
      animation: show 0.5s ease-in-out;
      .img {
        position: relative;
        float: left;
        width: 80px;
        height: 80px;
        background: #777;
      }
      .info {
        position: relative;
        float: left;
        width: 165px;
        height: 80px;
        margin-left: 15px;
        h4 {
          margin: 15px 0 8px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .comms {
      position: relative;
      border-bottom: 1px solid $font_color;
      h4 {
        margin: 15px 0 8px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .cats {
    position: relative;
    h4 {
      position: relative;
      font-size: 14px;
      font-family: "Montserrat Bold";
      color: $font_color;
      text-transform: uppercase;
      margin: 0 0 30px;
    }
    .items {
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $font_color;
        padding: 0 15px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        &:hover {
          text-shadow: 0px 0px 2px #000;
        }
        p {
          line-height: 50px;
          font-size: 14px;
        }
        .text {
          position: relative;
        }
        .num {
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 15px;
        }
      }
      .active {
        text-shadow: 0px 0px 2px #000;
      }
    }
  }
  .tags {
    position: relative;
    @include clearfix();
    h4 {
      position: relative;
      font-size: 14px;
      font-family: "Montserrat Bold";
      color: $font_color;
      text-transform: uppercase;
      margin: 0 0 30px;
    }
    .tag {
      float: left;
      position: relative;
      font-size: 12px;
      font-family: "Montserrat Bold";
      line-height: 12px;
      padding: 11px 22px;
      color: $font_color;
      background: #e5e5e5;
      text-transform: uppercase;
      margin: 0 5px 5px 0;
      text-align: center;
      width: fit-content;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px $font_color;
      }
    }
    .active {
      background: $blocks_color;
      color: #fff;
    }
  }
}