.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -10;
  opacity: 0;
  background: rgba(0,0,0, 0.9);
  margin: 0;
  display: table;
  .cell {
    display: table-cell;
    vertical-align: middle;
  }
  .wrap {
    position: relative;
    width: 500px;
    margin: 100px auto;
    background: #fff;
    border-radius: 15px;
    border: 1px solid $font_color;
    @include mobile {
      width: 100%;
    }
    .close {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 10px;
      right: 20px;
      background: url('../../img/close-btn.png') no-repeat center;
      background-size: contain;
    }
    h3 {
      padding: 10px 20px;
      background: $blocks_color;
      border-radius: 15px 15px 0 0;
      color: #fff;
      box-shadow: 1px 0 5px $font_color;
      margin-bottom: 0;
    }
    form {
      @include clearfix();
      padding: 10px 20px;
      color: $font_color;
      font-family: "Montserrat Bold", Arial;
      .fields, .area {
        position: relative;
        float: left;
        margin:0;
      }
      .fields {
        width: 40%;
        @include tablet {
          width: 100%;
        }
        label, input, select {
          display: block;
          width: 90%;
        }
        label{
          text-transform: capitalize;
        }
        button {
          @include button();
          margin-top: 10px;
          line-height: 30px;
          padding: 0 15px;
        }
      }
      .area {
        width: 60%;
        @include tablet {
          width: 100%;
        }
        textarea {
          width: 100%;
          resize: none;
        }
      }
    }
  }
}