.post {
  .article {
    position: relative;
    margin-top: 100px;
    animation: show 0.5s ease-in-out;
    &:first-child {
      margin-top: 0;
    }
    .img {
      position: relative;
      width: 100%;
      height: 500px;
      margin-bottom: 30px;
      background: #777;
      @include laptop {height: 425px;}
      @include tablet {height: 495px;}
      @include mobile {height: 295px;}
    }
    .info {
      @include clearfix();
      position: relative;
      .date, .comments, .likes {
        width: fit-content;
      } 
      .date {
        position: relative;
        float: left;
        padding: 8px 15px;
        color: #fff;
        background: $blocks_color;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        box-sizing: border-box;
        font-family: "Montserrat Bold", Arial;
        margin-right: 14px;
      }
      .comments, .likes {
        @include clearfix();
        position: relative;
        float: left;
        margin-right: 14px;
        .icon {
          position: relative;
          float: left;
          width: 16px;
          height: 14px;
          background-size: contain;
          margin: 8px 8px 8px 0;
        }
        .nums {
          position: relative;
          float: left;
          color: $font_color;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 14px;
          font-family: "Montserrat Bold", Arial;
          margin: 8px 0;
        }
      }
      .comments { .icon { background: url('../../img/comm.png') no-repeat center; } }
      .likes { 
        .icon { 
          background: url('../../img/like.png') no-repeat center;
          opacity: 0.8;
          &:hover {
            cursor: pointer;
            opacity: 1;
          } 
        } 
      }
    }
    .tags-list {
      position: relative;
      @include clearfix();
      margin-top: 20px;
      .tag {
        float: left;
        position: relative;
        font-size: 12px;
        font-family: "Montserrat Bold", Arial;
        line-height: 12px;
        padding: 11px 22px;
        color: $font_color;
        background: #e5e5e5;
        text-transform: uppercase;
        margin: 0 5px 5px 0;
        text-align: center;
        width: fit-content;
      }
    }
    h4 {
      position: relative;
      color: $font_color;
      font-size: 18px;
      line-height: 18px;
      font-family: "Montserrat Bold", Arial;
      margin: 22px 0;
      text-transform: uppercase;
    }
    p {
      position: relative;
      line-height: 30px;
      margin: 0 0 30px;
    }
    button {
      position: relative;
      @include button();
    }
  }
  h3 {
    margin-top: 30px;
  }

  .comms {
    position: relative;
    border-bottom: 1px solid $font_color;
    h4 {
      margin: 15px 0 8px;
    }
    p {
      font-size: 12px;
    }
  }
}