<div class="head-bg-sub"></div>

<section class="title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-12 col-md-6 col-lg-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-4">
        <h2>
          {{mainCtrl.content.about.about}}
        </h2>
        <h4>
          {{mainCtrl.content.menu[0]}} / 
          {{mainCtrl.content.menu[2]}}
        </h4>
      </div>
    </div>
  </div>
</section>


<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">
        <h3>{{mainCtrl.content.about.about}}</h3>
        <h4>{{mainCtrl.content.about.awesome}}</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quo consequatur atque voluptatibus velit odio facere molestiae cumque quaerat corrupti quae tempora cupiditate temporibus itaque, illo exercitationem nulla, maxime, magnam magni fugit! Sint voluptates, perferendis cumque tenetur unde distinctio nobis, magni debitis impedit! Eum deleniti autem saepe aut quo similique, accusantium explicabo earum, in assumenda sunt repudiandae nemo, odit quasi veniam deserunt. Eos expedita neque inventore quam dolore odio, minima.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">
        <h3>{{mainCtrl.content.about.what}}</h3>
        <h4>{{mainCtrl.content.about.creative}}</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam cum totam aut alias sed deleniti architecto vel voluptatem provident, eum a earum deserunt sequi. Placeat molestiae dolore, obcaecati, in tempore assumenda ea omnis ipsam itaque laudantium nostrum aliquam! Iusto ducimus inventore porro facilis reiciendis pariatur praesentium, eum placeat sunt delectus iure, reprehenderit consequatur at libero similique fugiat voluptates dicta eius eligendi tenetur soluta sequi dolorum dolores. Maiores ipsam nam ipsa odit incidunt debitis, harum quia commodi in, officiis quisquam quis.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="container">
    <div class="row header">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
        <h3>{{mainCtrl.content.about.benefits}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum commodi explicabo molestiae similique dicta assumenda consequatur illum, doloribus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-container">
          <div class="item resp">
            <div class="mini-h">
              <div class="img"></div>
              <h4>{{mainCtrl.content.about.responsive}}</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias incidunt tempora dolorem error consequatur, dignissimos! Corporis ex eveniet, laborum est assumenda perferendis iusto quaerat nesciunt?</p>
          </div>
          <div class="item uopt">
            <div class="mini-h">
              <div class="img"></div>
              <h4>{{mainCtrl.content.about.options}}</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias incidunt tempora dolorem error consequatur, dignissimos! Corporis ex eveniet, laborum est assumenda perferendis iusto quaerat nesciunt?</p>
          </div>
          <div class="item wp">
            <div class="mini-h">
              <div class="img"></div>
              <h4>{{mainCtrl.content.about.wordpress}}</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias incidunt tempora dolorem error consequatur, dignissimos! Corporis ex eveniet, laborum est assumenda perferendis iusto quaerat nesciunt?</p>
          </div>
          <div class="item e-comm">
            <div class="mini-h">
              <div class="img"></div>
              <h4>{{mainCtrl.content.about.comm}}</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias incidunt tempora dolorem error consequatur, dignissimos! Corporis ex eveniet, laborum est assumenda perferendis iusto quaerat nesciunt?</p>
          </div>
          <div class="item des">
            <div class="mini-h">
              <div class="img"></div>
              <h4>{{mainCtrl.content.about.design}}</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias incidunt tempora dolorem error consequatur, dignissimos! Corporis ex eveniet, laborum est assumenda perferendis iusto quaerat nesciunt?</p>
          </div>
          <div class="item sup">
            <div class="mini-h">
              <div class="img"></div>
              <h4>{{mainCtrl.content.about.supp}}</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias incidunt tempora dolorem error consequatur, dignissimos! Corporis ex eveniet, laborum est assumenda perferendis iusto quaerat nesciunt?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <div class="row header">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
        <h3>{{mainCtrl.content.about.team}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum commodi explicabo molestiae similique dicta assumenda consequatur illum, doloribus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="img/gag.jpg" alt="gag">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="more">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, quia nemo porro consequuntur.</p>
          <div>
            <button class="read-more">{{mainCtrl.content.btns.readmore}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="staff">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="carousel-example-generic" class="carousel slide" 
            data-ride="carousel">
             <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" 
                data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" 
                data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" 
                data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" 
                data-slide-to="3"></li>
          </ol>
          
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="foto"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod nihil commodi, facere provident iure, similique minus inventore saepe debitis, pariatur. Repudiandae suscipit placeat quia blanditiis, nobis eaque delectus voluptas?</p>
              <div class="name">john doe</div>
            </div>
            <div class="item">
              <div class="foto"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod nihil commodi, facere provident iure, similique minus inventore saepe debitis, pariatur. Repudiandae suscipit placeat quia blanditiis, nobis eaque delectus voluptas?</p>
              <div class="name">frank boy</div>
            </div>
            <div class="item">
              <div class="foto"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod nihil commodi, facere provident iure, similique minus inventore saepe debitis, pariatur. Repudiandae suscipit placeat quia blanditiis, nobis eaque delectus voluptas?</p>
              <div class="name">liza edelstein</div>
            </div>
            <div class="item">
              <div class="foto"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod nihil commodi, facere provident iure, similique minus inventore saepe debitis, pariatur. Repudiandae suscipit placeat quia blanditiis, nobis eaque delectus voluptas?</p>
              <div class="name">Bob kirka</div>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="flex-container">
          <div class="item item1"></div>
          <div class="item item2"></div>
          <div class="item item3"></div>
          <div class="item item4"></div>
          <div class="item item5"></div>
          <div class="item item6"></div>
        </div>
      </div>
    </div>
  </div>
</section>
