<div class="head-bg"></div>

<section class="container we-are">
  <div class="row">
    <div class="col-xs-12">
      <h4>{{mainCtrl.content.home.weare}}</h4>
      <h2>{{mainCtrl.content.home.creative}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, soluta. Iste, aut distinctio voluptas incidunt nisi quo quod!</p> 
    </div>
  </div>
</section>

<section class="container history">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-5 col-xs-offset-0 col-sm-offset-2 col-md-offset-0">
      <div class="image"></div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-1">
      <h3>{{mainCtrl.content.home.history}}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate necessitatibus, ipsum cum dolor ducimus, laudantium sint! Sapiente rerum iusto sunt a nisi at. Fugit magni assumenda eius molestiae consequuntur. Corporis obcaecati, temporibus, veniam assumenda alias, aut aperiam consequuntur facilis rerum quam fuga voluptates illo nemo quisquam? Deserunt sit facilis voluptatem?</p>
      <button class="read-more">{{mainCtrl.content.btns.readmore}}</button>
    </div>
  </div>
</section>

<section class="container choose-us">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-8 col-xs-offset-0 col-md-offset-1 col-lg-offset-2">
      <h3>{{mainCtrl.content.home.why}}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum commodi explicabo molestiae similique dicta assumenda consequatur illum, doloribus.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-7 col-xs-offset-0 col-sm-offset-1 col-md-offset-0">
      <div class="list">
        <div class="option"></div>
        <h4>{{mainCtrl.content.home.benefits[0]}}</h4>
        <ul>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
        </ul>
      </div>

      <div class="list">
        <div class="design"></div>
        <h4>{{mainCtrl.content.home.benefits[1]}}</h4>
        <ul>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
        </ul>
      </div>

      <div class="list">
        <div class="e-comm"></div>
        <h4>{{mainCtrl.content.home.benefits[2]}}</h4>
        <ul>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
        </ul>
      </div>

      <div class="list">
        <div class="custom"></div>
        <h4>{{mainCtrl.content.home.benefits[3]}}</h4>
        <ul>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
        </ul>
      </div>
  
    </div>

    <div class="col-xs-12 col-sm-10 col-md-5 col-xs-offset-0 col-sm-offset-1 col-md-offset-0">
      <div class="image"></div>
    </div>  
  </div>
</section>

<section class="container portfolio">
  <div class="row header">
    <div class="col-xs-12 col-md-10 col-lg-8 col-xs-offset-0 col-md-offset-1 col-lg-offset-2">
      <h3>{{mainCtrl.content.home.portfolio}}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum commodi explicabo molestiae similique dicta assumenda consequatur illum, doloribus.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h3>{{mainCtrl.content.home.category}}</h3>
      <ul class="cats">
        <li data-ng-click="homeCtrl.chooseTopic($event)" data-topic="all" class="cat-item active">{{mainCtrl.content.home.cats[0]}}</li>
        <li data-ng-click="homeCtrl.chooseTopic($event)" data-topic="iron" class="cat-item">{{mainCtrl.content.home.cats[1]}}</li>
        <li data-ng-click="homeCtrl.chooseTopic($event)" data-topic="black" class="cat-item">{{mainCtrl.content.home.cats[2]}}</li>
        <li data-ng-click="homeCtrl.chooseTopic($event)" data-topic="white" class="cat-item">{{mainCtrl.content.home.cats[3]}}</li>
        <li data-ng-click="homeCtrl.chooseTopic($event)" data-topic="busy" class="cat-item">{{mainCtrl.content.home.cats[4]}}</li>
        <li data-ng-click="homeCtrl.chooseTopic($event)" ata-topic="lazy" class="cat-item">{{mainCtrl.content.home.cats[5]}}</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="wrap">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
      </div>
    </div>
  </div>
</section>