<div class="head-bg-sub"></div>

<section class="title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-12 col-md-6 col-lg-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-4">
        <h2>
          {{mainCtrl.content.post}}
        </h2>
        <h4>
          {{mainCtrl.content.menu[3]}} / 
          {{mainCtrl.content.post}}
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="article">
          <div class="img"></div>
          <div class="info">
            <div class="date">{{blogCtrl.posts[blogCtrl.activePost].date}}</div>
            <div class="comments" data-ng-hide="post.comments == 0">
              <div class="icon"></div>
              <div class="nums">{{blogCtrl.posts[blogCtrl.activePost].comments}}</div>
            </div>
            <div class="likes" data-ng-hide="post.likes == 0"
                  data-ng-click="blogCtrl.likePost(blogCtrl.posts[blogCtrl.activePost])">
              <div class="icon"></div>
              <div class="nums" >{{blogCtrl.posts[blogCtrl.activePost].likes}}</div>
            </div>
          </div>
          <div class="tags-list">
            <div class="tag" data-ng-repeat="tag in blogCtrl.posts[blogCtrl.activePost].tags">
              {{tag}}
            </div>
          </div>
          <h4>{{blogCtrl.posts[blogCtrl.activePost].header}}</h3>
          <p>{{blogCtrl.posts[blogCtrl.activePost].text}}</p>
          <a href="#blog">
            <button>{{mainCtrl.content.btns.back}}</button>      
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>{{blogCtrl.content.blog.comms}}</h3> 
        <div class="comms"
              data-ng-repeat="comm in blogCtrl.activeComms">
          <h4>{{blogCtrl.posts[blogCtrl.activePost].header}}</h4>
          <p>{{comm.text}}</hp>
          <p>{{comm.date}}</p>
        </div>
      </div> 
    </div>
  </div>
</section>
