<div class="head-bg-sub"></div>

<section class="title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-12 col-md-6 col-lg-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-4">
        <h2>
          {{mainCtrl.content.service.service}}
        </h2>
        <h4>
          {{mainCtrl.content.menu[0]}} / 
          {{mainCtrl.content.menu[1]}}
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do">
  <div class="container">
    <div class="row header">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
        <h3>{{mainCtrl.content.service.what}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum commodi explicabo molestiae similique dicta assumenda consequatur illum, doloribus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, facere libero vitae, dolorum magnam itaque accusantium. Perspiciatis officiis, quasi optio autem, blanditiis ducimus enim! Totam optio soluta cum, omnis magni accusantium velit expedita, voluptatem recusandae, sed, ab! Ipsam, facere, iusto.
        </p>
        <div class="list">
          <ul>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
            <li>Lorem ipsum.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
        <div class="image"></div>
      </div>
    </div>
  </div>
</section>

<section class="our-bonuses">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
        <div class="head-img pulse"></div>
        <h4>{{mainCtrl.content.service.pulse}}</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
        <div class="head-img limits"></div>
        <h4>{{mainCtrl.content.service.limits}}</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
        <div class="head-img idea"></div>
        <h4>{{mainCtrl.content.service.idea}}</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
        <div class="head-img supp"></div>
        <h4>{{mainCtrl.content.service.supp}}</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pricing">
  <div class="container">
     <div class="row header">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
        <h3>{{mainCtrl.content.service.plans}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum commodi explicabo molestiae similique dicta assumenda consequatur illum, doloribus.</p>
      </div>
    </div>
    <div class="row" data-ng-init="plan=1">
      <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
        <div class="plan" 
              data-ng-class="plan == 1 ? 'active' : ''"
              data-ng-click="plan = 1">
          <div class="triangle"></div>
          <h3>{{mainCtrl.content.service.basic}}</h3>
          <p>$54.66 mobthly</p>
          <ul>
            <li>Lorem ipsum.</li>
            <li>Non, officiis.</li>
            <li>Ipsum, doloribus.</li>
            <li>Officia, dolore!</li>
            <li>Necessitatibus, nihil?</li>
            <li>Aperiam, optio?</li>
            <li>Facilis, enim.</li>
          </ul>
          <button>{{mainCtrl.content.btns.started}}</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
        <div class="plan" 
              data-ng-class="plan == 2 ? 'active' : ''"
              data-ng-click="plan = 2">
          <div class="triangle"></div>
          <h3>{{mainCtrl.content.service.advanced}}</h3>
          <p>$54.66 mobthly</p>
          <ul>
            <li>Lorem ipsum.</li>
            <li>Non, officiis.</li>
            <li>Ipsum, doloribus.</li>
            <li>Officia, dolore!</li>
            <li>Necessitatibus, nihil?</li>
            <li>Aperiam, optio?</li>
            <li>Facilis, enim.</li>
          </ul>
          <button>{{mainCtrl.content.btns.started}}</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
        <div class="plan"  
              data-ng-class="plan == 3 ? 'active' : ''"
              data-ng-click="plan = 3">
          <div class="triangle"></div>
          <h3>{{mainCtrl.content.service.smart}}</h3>
          <p>$54.66 mobthly</p>
          <ul>
            <li>Lorem ipsum.</li>
            <li>Non, officiis.</li>
            <li>Ipsum, doloribus.</li>
            <li>Officia, dolore!</li>
            <li>Necessitatibus, nihil?</li>
            <li>Aperiam, optio?</li>
            <li>Facilis, enim.</li>
          </ul>
          <button>{{mainCtrl.content.btns.started}}</button>
        </div>
      </div>
    </div>
  </div>
</section>