<header class="container">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <span class="logo animated" style="display: block;">akad.</span>
    </div>
    <div class="hidden-xs hidden-sm col-lg-11">
      <nav class="menu-desk animated">
        <ul class="items">
          <li class="item"><a href="#/" 
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[0]}}</a></li>
          <li class="item"><a href="#service"
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[1]}}</a></li>
          <li class="item"><a href="#about"
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[2]}}</a></li>
          <li class="item"><a href="#blog"
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[3]}}</a></li>
<!--           <li class="item"><a href="#contact"
              data-ng-click="mainCtrl.updatePath()">contact</a></li> -->
        </ul>
      </nav>
    </div>
    <div class="col-sm-6 col-sm-offset-5 hidden-md hidden-lg">
      <nav class="menu-mob" 
           data-ng-style="{ height: mainCtrl.mobMenuState ? '260px' : '100px' }">
        <div class="mob-menu-img" 
             data-ng-click="mainCtrl.mobMenuState = !mainCtrl.mobMenuState">
        </div>
        <ul class="items">
          <li class="item"><a href="#/" 
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[0]}}</a></li>
          <li class="item"><a href="#service"
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[1]}}</a></li>
          <li class="item"><a href="#about"
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[2]}}</a></li>
          <li class="item"><a href="#blog"
              data-ng-click="mainCtrl.updatePath()">{{mainCtrl.content.menu[3]}}</a></li>
<!--           <li class="item"><a href="#contact"
              data-ng-click="mainCtrl.updatePath()">contact</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>